{% extends "layout.html.twig" %}


{% block prestyles %}
    <link rel="stylesheet" type="text/css" href="/css/slick.css"/>
{% endblock prestyles %}

{% block content %}
    <main>
{#        <h1>{{'{{movieTitle}}'}}</h1>#}
{#        <h2 ng-show="loadingService.isLoading()">XXXXXXXXXXXXXXXXXX</h2>#}
        <div id="home-search">
            <h1 id="home-logo">
                <img src="img/movie-rex.png" alt="MovieRex" />
            </h1>
            <input ng-model="movieTitle" ng-change="titleChange()" ng-keydown="titleBoxKeyDown($event)"  ng-keyup="titleBoxKeyUp($event)" class="title-box" type="text" placeholder="Tell me a movie you like"></input>
{#            <ul class="search-list"></ul>#}
            <ul class="search-list">
                <li  ng-class="{selected:$index === selectedTitle}" ng-repeat="title in searchContainer" tabindex="-1">
                    <div class="row title-container" ng-click="titleClick(title)" data-id="{{'{{ title.id }}'}}" data-title="{{'{{ title.title }}'}}">
                        <div class="columns small-2 fuzzy-image">
                            <img src="{{'{{ title.img }}'}}" alt="{{'{{ title.title }}'}}"/>
                        </div>
                            <div class="columns small-10 fuzzy-title"><strong>{{'{{ title.title }}'}}</strong><span ng-bind-html="title.additional|to_trusted"></span>
                        </div>
                    </div>
                </li>
            </ul>
            {#            <a class="action-button green">suggest films</a>#}
            <div class="tv-checkbox">
                <label class="tv" for="tv">include TV?</label>
                <input ng-model="includeTV" id= "tv" type="checkbox" value="tv">
            </div>
            {#            <img id="rex-fill" class="transition slow" src="img/movie-rex-fill.png" alt="MovieRex" />#}       
            <div id ="rexinfo" class="transition">
                <h2>Movie-Rex knows what you should watch next!</h2> 
                <p>Get movie and TV series recommendations based on what you like. Type a film or TV show to get started.
                </p>
            </div>
            <div id="tooltip" style=''>
                <aside class="choose">Select your title when you see it below.</aside>
                <aside class="spell"><strong>RAWR!</strong> Check your spelling.</aside>
                <aside class="rawr">RAWR!</aside>
            </div>



        </div>
        <div id="fb-box">
            <div class="row"><div class="columns small-12">
                    <div class="fb-like" data-href="https://www.facebook.com/movierexfilms" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
                </div></div>
        </div>
        <div id ="mobileSearch">
            <input class="title-box" type="text" placeholder="Tell me a movie you like"></input>
            <ul class="search-list"></ul>
            <div class="onoffswitch">
                <input ng-model="includeTV" type="checkbox" class="onoffswitch-checkbox" id="tvm">
                <label class="onoffswitch-label" for="tvm">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
            </div>
        </div>


        <ul class="suggestions-container"></ul>
        <div id="slider-container" tabindex="">
            <div id="suggestive-slider">
                {#  <div>
                      <div class="suggestion" style="background:url('/img/jpark.jpg')">
                          <h4>Movie title here</h4>
                          <h5 class="imdb">8.1</h5>
                      </div>
                  </div> #}
            </div>
        </div>
    </main>
{#    <img id="searching-animation" ng-show="loadingService.isLoading()" src="img/rex-ani-2.gif" alt="hunting-rex"/>#}
    <img id="searching-animation" src="img/rex-ani-2.gif" alt="hunting-rex"/>
        <div id="overlay" class="transition"></div>



{% endblock content %}
{% block postscripts %}
    <div id="fb-root"></div>
    <script>(function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id))
                return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.4&appId=466019430249255";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <script type="text/javascript" src="/js/slick.min.js"></script>
    <script src="/js/old.js"></script>

{% endblock postscripts %}
